<h1>Burger CRUD app</h1>

<ul>
  {{#each burgers}}
  <li class="list{{id}}">
    <p>
    <div class="burgerIcon"></div>
    <div class="bugerName">{{this.burger_name}}</div>
      <div class="buttondiv">
        <button data-burgerid="{{id}}" class="deleteBurger">Eat Burger!</button>
      </div>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Save burger!</button>
</form>

<h2>Update a burger</h2>
<form id="updateburger" class="button-size">
  <select name="id">
		{{#each burgers}}
			<option value="{{this.id}}">{{this.burger_name}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="burger" placeholder="burger"></textarea>
  <button type="submit">Update burger!</button>
</form>